@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@400;600;700&display=swap');

/* living room header */
h1 {
text-align: center;
justify-content: center;
font-family: "Ibarra Real Nova", serif;
font-size: 48px;
font-weight: 600;
letter-spacing: 0px;

}
/* product information */
h2 {
    text-align: left;
    font-size: 15px;
    font-weight: normal;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
}

p {
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* colour of checkbox - can combine - TDL*/
input[type="checkbox"] {
  accent-color: black;  
}
input[type="range"] {
accent-color: black;  
}