/* puts names of labels above their fields*/

label {
    display:block;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 5px;
}
/* First name, last name and email and message field background*/
input, textarea {
    background-color: rgb(255, 255, 255);
    width: 100%;
    font-size: 15px;
    padding: 16px 16px;
    border-radius: 10px;
    border-color: rgb(255, 255, 255);
    margin-bottom: 20px;
    box-shadow: none;
    border: 2px solid #dcdcdc;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
input, textarea, button {
    box-sizing: border-box;
}

input:focus-within {
    outline: none;
    border-color: rgb(0, 0, 0);
    border-width: 3px;
    box-shadow: none;
}

textarea:focus-within {
    outline: none;
    border-color: rgb(0, 0, 0);
    border-width: 3px;
    box-shadow: none;
}

button {
    background-color:rgba(0, 0, 0, 0.916) ;
    color:white;
    border: none;
    border-radius: 10px;
    border-color: rgb(0, 0, 0);
    font-size: 20px;
    padding: 16px 16px;
    text-align:center;
    width: 100%;
  


}

/* changes the color opacity of the button when hovered*/
button:hover {
    opacity: 80%;
    cursor: pointer;
}
