.form-container {
    background-color:#14121814;
     /* margin: 0 auto 30px auto; */
     width: 750px;
     margin: 0 auto; 
     overflow: auto;
     max-width: 100%;
    padding:15px;
    padding-bottom: 40px;
    border-radius: 15px;
    border: 2px solid #D9D9D9 ;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 0.9rem;
    margin-bottom: 90px;
  }
/* Screen size adjustment*/
@media (max-width: 768px) {
  .form-container {
    width: 85%;
    padding: 8px;
  }
  h1 {
    font-size: 26px;
  }
  label {
    font-size: 16px;
  }
}
 