.form-container {
    background-color: rgba(135, 135, 135, 0.212);
    width: 80%;
    max-width: 740px;
    margin: 0 auto 60px auto;
    padding:25px;
    border-radius: 15px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
/* Screen size adjustment*/
@media (max-width: 768px) {
  .form-container {
    width: 85%;
    padding: 20px;
  }
  h1 {
    font-size: 26px;
  }
  label {
    font-size: 16px;
  }
}
 