/* @import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@400;600;700&display=swap');

body { background-color: #ffffff;
    margin: 0;
    padding: 0;
} */

/* Contact us header */
/* h1{
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 40px;
    font-weight: 600;
   font-family: "Ibarra Real Nova", serif;
   margin-top: 40px;
    margin-bottom: 30px;
} */

/* First name, last name and email and message field background*/
/* input, textarea {
    background-color: rgb(255, 255, 255);
    width: 100%;
    font-size: 15px;
    padding: 16px 16px;
    border-radius: 10px;
    border-color: rgb(255, 255, 255);
    margin-bottom: 20px;
    box-shadow: none;
    border: 2px solid #dcdcdc;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
} */


/* input:focus-within {
    outline: none;
    border-color: rgb(0, 0, 0);
    border-width: 3px;
    box-shadow: none;
}

textarea:focus-within {
    outline: none;
    border-color: rgb(0, 0, 0);
    border-width: 3px;
    box-shadow: none;
} */

/* button {
    background-color:rgba(0, 0, 0, 0.916) ;
    color:white;
    border: none;
    border-radius: 10px;
    border-color: rgb(0, 0, 0);
    font-size: 20px;
    padding: 16px 16px;
    text-align:center;
    width: 100%;
  


} */

/* changes the color opacity of the button when hovered*/
/* button:hover {
    opacity: 80%;
    cursor: pointer;
} */

/* puts names of labels above their fields*/

/* label {
    display:block;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 5px;
} */

/* .form-container {
    background-color: rgba(135, 135, 135, 0.212);
    width: 60%;
    max-width: 720px;
    margin: 0 auto 60px auto;
    padding:40px 40px;
    border-radius: 15px;
    font-family:  sans-serif;
} */

/* input, textarea, button {
    box-sizing: border-box;
} */
/* Screen size adjustment*/
/* @media (max-width: 768px) {
  .form-container {
    width: 85%;
    padding: 20px;
  }
  h1 {
    font-size: 26px;
  }
  label {
    font-size: 16px;
  }
} */
 
/* asterisk next to required fields */
/* .required {
    color: rgb(63, 63, 63);
    margin-left: 2px;

} */