
.checkout-layout {
  display: flex;
  gap: 40px;
  max-width: 1000px;
  margin: 40px auto;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

/* Left column */
.product-column {
  flex: 1;
}

.product-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
 
}

.product-item img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
  /* margin-right: 15px; */
}


.product-info p {
  margin: 4px 0;
}

.price {
  font-weight: bold;
  color: #0078D4;
}

/* Right column */
.details-column {
  flex: 2;
}


.review-box {
  margin-top: 25px;
  margin-bottom: 10px;
  font-size: 1.2rem;
  color: #333;
}

.form-fields {
  display: flex;
  flex-direction: column;
}

.input-group {
  margin-bottom: 15px;
}

.input-label {
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1.5px solid #ccc; 
  border-radius: 6px;
  font-size: 14px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  box-sizing: border-box; 
  transition: border-color 0.3s ease; 
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  outline: none;
  border-color: #000;

}


.payment-section {
  margin-bottom: 30px;
}

.payment-section input {
  margin-bottom: 10px;
}


.delivery-section {
  background-color: #f0f8ff;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 30px;
}


button {
  background-color: #2C2C2C; 
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  padding: 12px 16px;
  text-align: center;
  cursor: pointer;
  transition: opacity 0.3s ease, background-color 0.3s ease; /* CHANGED */
  width: 100%;
  box-sizing: border-box; 
}

button:hover {
  opacity: 0.8; 
}


.payment-options {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}


.payment-options button {
  flex: 1 1 140px; 
  max-width: 180px; 
}


.checkout-header {
  text-align: center;
  margin: 30px 0;
  font-family: 'Ibarra Real Nova', serif;
  font-weight: 700;
  font-size: 2rem;
}


label {
  display: block;
  font-size: 16px;
  margin-bottom: 5px;
}


.card-fields {
  background-color: #f9f9f9;
  padding: 15px;
  border-radius: 10px;
  border: 2px solid #D9D9D9;
  margin-bottom: 20px;
}

.card-fields input {
    margin-bottom: 20px;
}

.card-fields h2 {
  margin-bottom: 15px;
  font-size: 18px;
  color: #333;
}

.item {
  background: #FFFFFF;
  width: 230px; 
  padding: 10px;
  padding-bottom: 1px; 
  border-radius: 10px;
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  cursor: pointer;
  height: 100%;
}

.product-grid img {
  width: 100%;
  height: auto;
  object-fit: cover;   
  aspect-ratio: 1 / 1; 
  border-radius: 1px;    
}
