@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Font+Name&display=swap');

/* displays images in rows and columns */
.product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:20px;
    max-width: 800px;
    margin: 40px auto;
    justify-content: center;

}

/* container of each image */
.item {
background:#ddddd4 ;
padding: 10px;
border-radius: 1px;
display: flex;
flex-direction: column;
align-items: left;
}
/* image */
.product-grid img {
    width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 1/1;
    border-radius: 1px;
}
/* living room header */
h1 {
text-align: center;
justify-content: center;
font-family: "Ibarra Real Nova", serif;
font-size: 48px;
font-weight: 600;
letter-spacing: 0px;

}
/* product information */
h2 {
    text-align: left;
    font-size: 20px;
}
h3 {
    font-family: "Body/Font Family", serif ;
    font-weight: 300;
}
.search-bar {
    display: flex;
    justify-content:left;
}

.search-bar input {
    width: 250px;
    padding: 10px 10px;
    border-radius: 25px;
    border: 1px solid #ddddd4;

}

.side-bar {
    padding: 20px;
    border-radius: 10px;
    width: 240px;
    height: auto;
    border: 1px solid ;

}

.tags {
display: flex;
gap: 10px;
flex-wrap: wrap;

}

.tag {
background-color: #F5F5F5;
padding: Space/200;
border-radius: Radius/200;
font-size: medium;
gap: 8;

}