@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,400;0,700;1,400;1,700&display=swap');


body {
    font-family: 'Josefin Slab',serif;
    background-color: #fafafa;
    color: #000000;
    line-height: 1.6;
    margin:0;
    padding:0;
    background: none; 
}

/* about us header */
.left h1 {
  font-family: 'Ibarra Real Nova', serif;
  font-weight: 400;
  font-size: 2.8rem;
  color: #000000f9;
  text-align: left;
  margin-bottom: 0px;
}
/* faqs header */
h2 {
  font-size: 1.7em;
  color: #000000f9;
  margin-top: 40px;
  text-align: center;
  margin-bottom: 20px;
}

.split-page {
    display: flex;
    width: 100vw;
    height: 100vh;
    margin: 0 ;
    padding: 0;

}

.left, .right {
  flex:1;
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 40px;
}
.left {
  background: #DDDCD5;
  justify-content: center;
  color: #000000;
}
.right {
  /* max-width: 700px; */
  position: relative;
  overflow: hidden;
  background-color: #222222 ;
  align-items: center;
  justify-content: center;
}
.right img {
  width: 100%;
  height: auto;
  object-fit: contain;
  display: block;


}

.faq-section {
max-width: 800px;
margin: 40px auto;
padding:  10px;
text-align: center;
font-family: 'Josefin Slab', serif;


}

.faq-section h2 {
  padding: 5px;
  font-size: 2.2em;
  margin-bottom:30px;
  color: #333;
  position: relative;
  /* justify-content: center; */
}
.faq-section h2::after {
  content: "";
  display: block;
  background: #cbc6c69c;
  width: 40%;
  height: 2.8px;
  margin: 10px auto 0;
  border-radius: 2px;

}
.faq-item {
  background: #fff;
  border-radius: 12px;
  margin-bottom: 20px;
  /* overflow: hidden; */
  text-align: left;
  /* cursor: pointer; */
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  border: solid 2px #cbc6c69c;

}

.faq-question {
  padding: 15px 20px;
  font-weight: 700;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  background: #cbc6c69c;
}
.faq-answer {
  padding:15px 20px;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.6;
  color: #333;
}

.faq-background {
  background-color:#f9f9f9;
  width: 100%;
  padding:5px 0;
  min-height: 100vh;
  display: flex;

}
.left p {
    font-weight: 400;
    font-size: 18px;
    padding-top: 0px;
    margin-top: 5px;
    line-height: 1.5;
    max-width: 500px;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

@media (max-width: 1024px) {
  .split-page {
    flex-direction: row;
    height: auto;
    width: 100%;
  }
  .left, .right {
    width: 50%;
    padding: 20px;
    flex-direction: column;


  }
  .left p {
    max-width: 500px;
    width: 100%;
  }
 }
   @media (max-width: 768px) {
    .left p {
      font-size: 16px;
    }
  }