body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #fafafa;
    color: #333;
    line-height: 1.6;
    margin:0;
    padding:0;

}

body {
    max-width: 800px;
    margin:60px auto;
    padding: 0 20px;
    background: #fff;
    border-radius: 10px;

}

h1 {
  font-size: 2.2em;
  color: #343d46f9;
  text-align: center;
  margin-bottom: 20px;
}

h2 {
  font-size: 1.7em;
  color: #343d46f9;
  margin-top: 40px;
  text-align: center;
  margin-bottom: 20px;
}