body { background-color: #ffffff;
    
}
h1{
    color: rgb(0, 0, 0);
    padding-top: 20px;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-bottom: 20px;
}

/* First name, last name and email and message field background*/
input, textarea {
    background-color: rgb(255, 255, 255);
    width: 70%;
    margin-left: 12%;
    font-size: 15px;
    padding: 16px 16px;
    border-radius: 10px;
    border-color: rgb(255, 255, 255);
    margin-bottom: 20px;
    box-shadow: none;
    border: 2px solid #dcdcdc;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


input:focus-within {
    outline: none;
    border-color: rgb(0, 0, 0);
    border-width: 3px;
    box-shadow: none;
}

textarea:focus-within {
    outline: none;
    border-color: rgb(0, 0, 0);
    border-width: 3px;
    box-shadow: none;
}

button {
    background-color:rgba(0, 0, 0, 0.916) ;
    color:white;
    border: none;
    border-radius: 10px;
    border-color: rgb(0, 0, 0);
    font-size: 20px;
    padding: 16px 16px;
    text-align:center;
    width: 60%;
    margin-left: 12%;


}

/* changes the color opacity of the button when hovered*/
button:hover {
    opacity: 80%;
    cursor: pointer;
}

/* puts labels above their fields*/

label {
    display:block;
    margin-left: 12%;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 5px;
}

.form-container {
    background-color: rgba(135, 135, 135, 0.212);
    width: 50%;
    max-height: 100vh;
    margin:10px auto;
    padding:20px;
    border-radius: 15px;
    font-family:  sans-serif;
}

input, textarea, button {
    box-sizing: border-box;
}
/* Screen size adjustment*/
@media (max-width: 768px) {
  .form-container {
    width: 85%;
    padding: 20px;
  }
  h1 {
    font-size: 26px;
  }
  label {
    font-size: 16px;
  }
}
 
/* asterisk next to required fields */
.required {
    color: red;
    margin-left: 2px;

}