@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@400;600;700&display=swap');

body { background-color: #ffffff;
    margin: 0;
    padding: 0;
}

/* Contact us header */
h1{
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
   font-family: "Ibarra Real Nova", serif;
   margin-top: 40px;
    margin-bottom: 30px;
}