.top-bar .search {
width: 327px;
height: 40px;
padding: 1px 15px;
border-radius: 40px;
border: 1px solid #ccc;
}


/* top-bar buttons */
.btn-New, .btn-PriceAsc, .btn-PriceDesc, .btn-Rating {
    padding: 10px 10px;
    border-radius: 10px;
    border: none;
    background: #f0f0f0;
    font-size: 14px;
    color:#555;
    transition: opacity 0.2s ease;
    cursor: pointer;
}

.btn-New:hover{
opacity: 0.8;
}

.btn-New.active, .btn-PriceAsc.active, .btn-PriceDesc.active,
.btn-Rating.active {
    background: #313131f4 ;
    color:#fffdfdbd
}
.no-results {
    padding-left: 250px;
margin: 8px 0px 12px 250px;
max-width: 800px;
width: 100%;

}

/* container of each image */
.item {
background: #FFFFFF;
height: 100%;
padding-bottom: 1px;
width: 250px;
padding: 10px;
border-radius: 10px;
display: flex;
flex-direction: column;
align-items: flex-start;
border: 1px solid #ddd;
cursor: pointer;

}
/* image */
.product-grid img {
    width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 1/1;
    border-radius: 1px;
}

.side-bar h3 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    margin-bottom: 4px;
}

.tags {
display: flex;
gap: 8px;
flex-wrap: wrap;

}

.tag {
background-color: #F5F5F5;
padding: 6px 12px;
border-radius: 8px;
/* font-size: medium; */
display: inline-flex;
align-items: center;
gap: 8;
transition: opacity 0.2s ease;
cursor: pointer;

}
.tag .X {
    display: none;
    font-weight: bold;
    margin-left: 6px;
  
}
/* displays the cross when user selects keyword */
input[type="checkbox"]:checked + label .X {
    display: inline;
}

input[type="checkbox"]:checked + .tag {
    background-color: #bab7b7bd;
}

input[type="checkbox"]:checked + .tag:hover {
    opacity: 0.8;
}
.tag .X {
    font-size: 14px;
    opacity: 0.6;

}