
.content-wrap {
    display: flex;
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/*  side bar containing keywords, categories, price, colour and size */
.side-bar {
    padding: 10px;
    border-radius: 10px;
    width: 250px;
    height: 100%;
    border: 1px solid #ddd;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding-bottom: 10px;


}
/* side bar lists of each sub-header */
.side-bar label {
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    gap: 6px;
    align-items: center;

}

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1px;
    align-items: flex-start;
}

/* top-bar section */
.top-bar {
    display: flex;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    align-items: center;
    gap:15px;
    padding-bottom: 15px;
}
/* displays images in rows and columns */
.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(230px,1fr));
    gap:30px;
    /* max-width: 800px; */
    max-width: 100%;
    margin: 0 auto;
    justify-content: center;

}

.product-grid a {
    display: block;
    text-decoration: none;
    color: inherit;

}