.price-wrap {
    position: relative;
    display: flex;
    flex-direction: column;
}
.price-wrap label {
align-self: flex-start;
font-size: 14px;
margin-bottom: 6px;

}
.side-bar .price-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.price-slider {
  position: relative;
  width: 100%;
  max-width: 250px;
  height: 40px;
  box-sizing: border-box;
}

/* To handle the slider thumbs */
.price-slider input[type="range"] {
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  pointer-events: none;
  -webkit-appearance: none;
  appearance: none;
  background: none;
  z-index: 3;

}

.price-slider input[type="range"]::-webkit-slider-thumb {
  pointer-events: auto; 
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #2C2C2C;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  margin-top: 10px;

}

.track, .range {
  position: absolute;
  height: 4px;
  top: 50%;
  border-radius: 2px;
  transform: translateY(-50%);
  pointer-events: none;

}
.track {
    width: 100%;
    background: #ddd;
    z-index: 1;
}
/* the slider line of the price range */
.range {
  background: #2C2C2C;
  z-index: 2;

}

