@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,400;0,700;1,400;1,700&display=swap');


body {
    font-family: 'Josefin Slab',serif;
    background-color: #fafafa;
    color: #000000;
    line-height: 1.6;
    margin:0;
    padding:0;
    padding-top: 300px;
    background: none; 
}

/* Shared container for consistent width */
.container {
  max-width: 1200px;   /* adjust to the width you want */
  margin: 0 auto;      /* centers the container */
  padding: 0 20px;     /* optional side padding */
}

/* about us header */
.left h1 {
  font-family: 'Ibarra Real Nova', serif;
  font-weight: 400;
  font-size: 2.8rem;
  color: #000000f9;
  text-align: left;
  margin-bottom: 0px;
}


.split-page {
    margin-top: 300px;
    min-height: 100vh;
    display: flex;
    width: 100vw;
    height: 100vh;
    margin: 0 ;
    padding: 0; 

}
.row {
    margin-bottom: 100px;
}

.left, .right {
  flex:1;
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 40px;
}
.left {
  background: #DDDCD5;
  justify-content: center;
  color: #000000;
}
.right {
  /* max-width: 700px; */
  position: relative;
  overflow: hidden;
  background-color: #222222 ;
  align-items: center;
  justify-content: center;
}
.right img {
  width: 100%;
  height: auto;
  object-fit: contain;
  display: block;


}


.left p {
    font-weight: 400;
    font-size: 18px;
    padding-top: 0px;
    margin-top: 5px;
    line-height: 1.5;
    max-width: 500px;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

@media (max-width: 1024px) {
  .split-page {
    flex-direction: row;
    height: auto;
    width: 100%;
  }
  .left, .right {
    width: 50%;
    padding: 20px;
    flex-direction: column;


  }
  .left p {
    max-width: 500px;
    width: 100%;
  }
 }
   @media (max-width: 768px) {
    .left p {
      font-size: 16px;
    }
  }