@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&display=swap');

/* living room header */
h1 {
    text-align: center;
    justify-content: center;
    font-family: "Playfair Display", serif;
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #2B2B2B;
}

/* product information */
h2 {
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    font-family: "Ibarra Real Nova", serif;
    color: #2B2B2B;
    margin: 0;
    line-height: 1.4;
}

p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    font-family: "Ibarra Real Nova", serif;
    color: #2B2B2B;
    margin: 0;
}

/* colour of checkbox */
input[type="checkbox"] {
    accent-color: #B8AFA4;
}

input[type="range"] {
    accent-color: #B8AFA4;
}

a {
    text-decoration: none;
    color: inherit;
}