 @import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@400;600;700&display=swap');

body { background-color: #ffffff;
    margin: 0;
    padding: 0;
}

/* Contact us header */
h1{
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
   font-family: "Ibarra Real Nova", serif;
   margin-top: 40px;
    margin-bottom: 30px;
}
/* asterisk next to required fields */
.required {
    color: rgb(63, 63, 63);
    margin-left: 2px;

}

/* puts names of labels above their fields*/

label {
    display:block;
    font-size: 16px;
    margin-bottom: 5px;
}
/* First name, last name and email and message field background*/
input, textarea {
    background-color: rgb(255, 255, 255);
    width: 100%;
    font-size: 14px;
    padding: 12px 10px;
    border-radius: 10px;
    border-color:#D9D9D9;
    margin-bottom: 20px;
    box-shadow: none;
    border: 2px solid #D9D9D9;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
input, textarea, button {
    box-sizing: border-box;
}

input:focus-within {
    outline: none;
    border-color: rgb(0, 0, 0);
    border-width: 3px;
    box-shadow: none;
}

textarea:focus-within {
    outline: none;
    border-color: rgb(0, 0, 0);
    border-width: 3px;
    box-shadow: none;
}

button {
    background-color:#2C2C2C ;
    color:white;
    border: none;
    border-radius: 10px;
    border-color: rgb(0, 0, 0);
    font-size: 16px;
    padding: 12px 16px;
    text-align:center;
    width: 100%;
  


}

/* changes the color opacity of the button when hovered*/
button:hover {
    opacity: 80%;
    cursor: pointer;
}

.form-container {
    background-color:#14121814;
     /* margin: 0 auto 30px auto; */
     width: 750px;
     margin: 0 auto; 
     overflow: auto;
     max-width: 100%;
    padding:15px;
    padding-bottom: 40px;
    border-radius: 15px;
    border: 2px solid #D9D9D9 ;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 0.9rem;
    margin-bottom: 90px;
  }
/* Screen size adjustment*/
@media (max-width: 768px) {
  .form-container {
    width: 85%;
    padding: 8px;
  }
  h1 {
    font-size: 26px;
  }
  label {
    font-size: 16px;
  }
}
 